<p id="notice"><%= notice %></p>
<% @products.each do |p| %>
<li> <%= p.title %> </li>
<%end%>
<%= puts " #{@products} found" %>
<%= puts " Here! " %>



<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
