<%= form_with(model: index_image, local: true) do |form| %>
  <% if index_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(index_image.errors.count, "error") %> prohibited this index_image from being saved:</h2>

      <ul>
        <% index_image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  <%= form.label :image%>
  <%= form.file_field :image %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
