<p id="notice"><%= notice %></p>

<h1>Index Images</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @index_images.each do |index_image| %>
      <tr>
        <td><%= index_image.titre%> </td>
        <td><%= index_image.description %> </td>
        <tr>
        <td><img src="<%= index_image.image%>"/></td>
        </tr>
        <%# <td><%= link_to 'Edit', edit_index_image_path(index_image) </td>  %>
        <%# <td><%= link_to 'Destroy', index_image, method: :delete, data: { confirm: 'Are you sure?' } </td> %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# <%= link_to 'New Index Image', new_index_image_path %> 
